ORPEN_BASE_URL=https://safeweb.orpen.com.br/rcx
ORPEN_AJAX_URL=https://safeweb.orpen.com.br/rcx/ajax.php
ORPEN_USERNAME=
ORPEN_PASSWORD=
ORPEN_DEVICE_UNIQUE_ID=
ORPEN_REPORT_EMAIL=
ORPEN_REPORT_URL=https://safeweb.orpen.com.br/rcx/ajax.php?action=generateReport
